
<!-- <app-widgets-dropdown></app-widgets-dropdown> -->



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users</title>
    <link rel="stylesheet" type="text/css" href="dashboard.component.css">
</head>

<body>
    <main class="table" id="customers_table">

        <section class="table__header">
            <h1>Users </h1>
            <div class="input-group">
                <input type="search" placeholder="Search Data...">
                <img src="../../../../assets/img/avatar/search.png" alt="">
           </div>
        </section>
        <section class="table__body" *ngIf=" users && users.length > 0; else loadingDailyPass">
            <table>
                <thead>
                    <tr>
                      <th><i class="fa-regular fa-id-card icon"></i></th>
                       <th><i class="fa-solid fa-user-group icon"></i></th>
                        <th>User</th>
                        <th>Country</th>
                        <th>Usage </th>
                        <th>Activity</th>
                        
                    </tr>
                </thead>
                <tbody>
                   <tr *ngFor="let user of users; let i = index">

                       <td>{{ i + 1 }}</td>

                       <td>
                        <div style="position: relative; display: inline-block;">
                            <img src="http://127.0.0.1:3001/uploads/{{ user.profileImage }}" alt="Profile Image" width="30" height="30">
                            <svg style="position: absolute; bottom: -2px; right: 4.5px;" width="12" height="12">
                                <circle [attr.fill]="getStatus(user?.status)" cx="5" cy="5" r="5"></circle>
                            </svg>
                        </div>
                    </td>
                    
                       
                       <td>
                        <div>{{ user.firstname }}</div>
                        <div class="small text-medium-emphasis text-nowrap">
                          <span>
                            {{user.status}}|Registered: {{ user.registered }}
                          </span>
                        </div>
                      </td>
                      
                      <td class="text-center">
                        <ng-container *ngIf="user.country === 'Argentina'">
                            <svg cIcon name="cif-ar" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Armenia'">
                            <svg cIcon name="cif-am" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Australia'">
                            <svg cIcon name="cif-au" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Austria'">
                            <svg cIcon name="cif-at" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Azerbaijan'">
                            <svg cIcon name="cif-az" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Bahamas'">
                            <svg cIcon name="cif-bs" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Bahrain'">
                            <svg cIcon name="cif-bh" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Bangladesh'">
                            <svg cIcon name="cif-bd" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Barbados'">
                            <svg cIcon name="cif-bb" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Belarus'">
                            <svg cIcon name="cif-by" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Belgium'">
                            <svg cIcon name="cif-be" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Belize'">
                            <svg cIcon name="cif-bz" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Benin'">
                            <svg cIcon name="cif-bj" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Bhutan'">
                            <svg cIcon name="cif-bt" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Bolivia'">
                            <svg cIcon name="cif-bo" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Bosnia and Herzegovina'">
                            <svg cIcon name="cif-ba" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Botswana'">
                            <svg cIcon name="cif-bw" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Brazil'">
                            <svg cIcon name="cif-br" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Brunei'">
                            <svg cIcon name="cif-bn" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Bulgaria'">
                            <svg cIcon name="cif-bg" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Burkina Faso'">
                            <svg cIcon name="cif-bf" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Burundi'">
                            <svg cIcon name="cif-bi" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Cabo Verde'">
                            <svg cIcon name="cif-cv" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Cambodia'">
                            <svg cIcon name="cif-kh" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Cameroon'">
                            <svg cIcon name="cif-cm" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Canada'">
                            <svg cIcon name="cif-ca" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Central African Republic'">
                            <svg cIcon name="cif-cf" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Chad'">
                            <svg cIcon name="cif-td" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Chile'">
                            <svg cIcon name="cif-cl" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'China'">
                            <svg cIcon name="cif-cn" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Colombia'">
                            <svg cIcon name="cif-co" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Comoros'">
                            <svg cIcon name="cif-km" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Congo (Congo-Brazzaville)'">
                            <svg cIcon name="cif-cg" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Costa Rica'">
                            <svg cIcon name="cif-cr" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Croatia'">
                            <svg cIcon name="cif-hr" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Cuba'">
                            <svg cIcon name="cif-cu" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Cyprus'">
                            <svg cIcon name="cif-cy" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Czechia (Czech Republic)'">
                            <svg cIcon name="cif-cz" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Democratic Republic of the Congo'">
                            <svg cIcon name="cif-cd" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Denmark'">
                            <svg cIcon name="cif-dk" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Djibouti'">
                            <svg cIcon name="cif-dj" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Dominica'">
                            <svg cIcon name="cif-dm" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Dominican Republic'">
                            <svg cIcon name="cif-do" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Ecuador'">
                            <svg cIcon name="cif-ec" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Egypt'">
                            <svg cIcon name="cif-eg" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'El Salvador'">
                            <svg cIcon name="cif-sv" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Equatorial Guinea'">
                            <svg cIcon name="cif-gq" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Eritrea'">
                            <svg cIcon name="cif-er" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Estonia'">
                            <svg cIcon name="cif-ee" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Eswatini (Swaziland)'">
                            <svg cIcon name="cif-sz" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Ethiopia'">
                            <svg cIcon name="cif-et" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Fiji'">
                            <svg cIcon name="cif-fj" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Finland'">
                            <svg cIcon name="cif-fi" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'France'">
                            <svg cIcon name="cif-fr" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Gabon'">
                            <svg cIcon name="cif-ga" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Gambia'">
                            <svg cIcon name="cif-gm" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Georgia'">
                            <svg cIcon name="cif-ge" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Germany'">
                            <svg cIcon name="cif-de" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Ghana'">
                            <svg cIcon name="cif-gh" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Greece'">
                            <svg cIcon name="cif-gr" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Grenada'">
                            <svg cIcon name="cif-gd" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Guatemala'">
                            <svg cIcon name="cif-gt" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Guinea'">
                            <svg cIcon name="cif-gn" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Guinea-Bissau'">
                            <svg cIcon name="cif-gw" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Guyana'">
                            <svg cIcon name="cif-gy" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Haiti'">
                            <svg cIcon name="cif-ht" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Holy See'">
                            <svg cIcon name="cif-va" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Honduras'">
                            <svg cIcon name="cif-hn" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Hungary'">
                            <svg cIcon name="cif-hu" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Iceland'">
                            <svg cIcon name="cif-is" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'India'">
                            <svg cIcon name="cif-in" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Indonesia'">
                            <svg cIcon name="cif-id" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Iran'">
                            <svg cIcon name="cif-ir" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Iraq'">
                            <svg cIcon name="cif-iq" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Ireland'">
                            <svg cIcon name="cif-ie" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Italy'">
                            <svg cIcon name="cif-it" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Jamaica'">
                            <svg cIcon name="cif-jm" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Japan'">
                            <svg cIcon name="cif-jp" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Jordan'">
                            <svg cIcon name="cif-jo" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Kazakhstan'">
                            <svg cIcon name="cif-kz" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Kenya'">
                            <svg cIcon name="cif-ke" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Kiribati'">
                            <svg cIcon name="cif-ki" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Kuwait'">
                            <svg cIcon name="cif-kw" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Kyrgyzstan'">
                            <svg cIcon name="cif-kg" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Laos'">
                            <svg cIcon name="cif-la" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Latvia'">
                            <svg cIcon name="cif-lv" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Lebanon'">
                            <svg cIcon name="cif-lb" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Lesotho'">
                            <svg cIcon name="cif-ls" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Liberia'">
                            <svg cIcon name="cif-lr" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Libya'">
                            <svg cIcon name="cif-ly" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Liechtenstein'">
                            <svg cIcon name="cif-li" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Lithuania'">
                            <svg cIcon name="cif-lt" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Luxembourg'">
                            <svg cIcon name="cif-lu" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Madagascar'">
                            <svg cIcon name="cif-mg" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Malawi'">
                            <svg cIcon name="cif-mw" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Malaysia'">
                            <svg cIcon name="cif-my" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Maldives'">
                            <svg cIcon name="cif-mv" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Mali'">
                            <svg cIcon name="cif-ml" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Malta'">
                            <svg cIcon name="cif-mt" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Marshall Islands'">
                            <svg cIcon name="cif-mh" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Mauritania'">
                            <svg cIcon name="cif-mr" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Mauritius'">
                            <svg cIcon name="cif-mu" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Mexico'">
                            <svg cIcon name="cif-mx" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Micronesia'">
                            <svg cIcon name="cif-fm" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Moldova'">
                            <svg cIcon name="cif-md" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Monaco'">
                            <svg cIcon name="cif-mc" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Mongolia'">
                            <svg cIcon name="cif-mn" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Montenegro'">
                            <svg cIcon name="cif-me" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Morocco'">
                            <svg cIcon name="cif-ma" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Mozambique'">
                            <svg cIcon name="cif-mz" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Myanmar (Burma)'">
                            <svg cIcon name="cif-mm" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Namibia'">
                            <svg cIcon name="cif-na" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Nauru'">
                            <svg cIcon name="cif-nr" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Nepal'">
                            <svg cIcon name="cif-np" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Netherlands'">
                            <svg cIcon name="cif-nl" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'New Zealand'">
                            <svg cIcon name="cif-nz" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Nicaragua'">
                            <svg cIcon name="cif-ni" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Niger'">
                            <svg cIcon name="cif-ne" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Nigeria'">
                            <svg cIcon name="cif-ng" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'North Korea'">
                            <svg cIcon name="cif-kp" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'North Macedonia'">
                            <svg cIcon name="cif-mk" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Norway'">
                            <svg cIcon name="cif-no" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Oman'">
                            <svg cIcon name="cif-om" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Pakistan'">
                            <svg cIcon name="cif-pk" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Palau'">
                            <svg cIcon name="cif-pw" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Palestine State'">
                            <svg cIcon name="cif-ps" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Panama'">
                            <svg cIcon name="cif-pa" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Papua New Guinea'">
                            <svg cIcon name="cif-pg" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Paraguay'">
                            <svg cIcon name="cif-py" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Peru'">
                            <svg cIcon name="cif-pe" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Philippines'">
                            <svg cIcon name="cif-ph" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Poland'">
                            <svg cIcon name="cif-pl" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Portugal'">
                            <svg cIcon name="cif-pt" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Qatar'">
                            <svg cIcon name="cif-qa" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Romania'">
                            <svg cIcon name="cif-ro" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Russia'">
                            <svg cIcon name="cif-ru" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Rwanda'">
                            <svg cIcon name="cif-rw" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Saint Kitts and Nevis'">
                            <svg cIcon name="cif-kn" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Saint Lucia'">
                            <svg cIcon name="cif-lc" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Saint Vincent and the Grenadines'">
                            <svg cIcon name="cif-vc" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Samoa'">
                            <svg cIcon name="cif-ws" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'San Marino'">
                            <svg cIcon name="cif-sm" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Sao Tome and Principe'">
                            <svg cIcon name="cif-st" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Saudi Arabia'">
                            <svg cIcon name="cif-sa" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Senegal'">
                            <svg cIcon name="cif-sn" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Serbia'">
                            <svg cIcon name="cif-rs" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Seychelles'">
                            <svg cIcon name="cif-sc" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Sierra Leone'">
                            <svg cIcon name="cif-sl" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Singapore'">
                            <svg cIcon name="cif-sg" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Slovakia'">
                            <svg cIcon name="cif-sk" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Slovenia'">
                            <svg cIcon name="cif-si" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Solomon Islands'">
                            <svg cIcon name="cif-sb" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Somalia'">
                            <svg cIcon name="cif-so" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'South Africa'">
                            <svg cIcon name="cif-za" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'South Korea'">
                            <svg cIcon name="cif-kr" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'South Sudan'">
                            <svg cIcon name="cif-ss" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Spain'">
                            <svg cIcon name="cif-es" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Sri Lanka'">
                            <svg cIcon name="cif-lk" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Sudan'">
                            <svg cIcon name="cif-sd" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Suriname'">
                            <svg cIcon name="cif-sr" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Sweden'">
                            <svg cIcon name="cif-se" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Switzerland'">
                            <svg cIcon name="cif-ch" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Syria'">
                            <svg cIcon name="cif-sy" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Tajikistan'">
                            <svg cIcon name="cif-tj" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Tanzania'">
                            <svg cIcon name="cif-tz" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Thailand'">
                            <svg cIcon name="cif-th" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Timor-Leste'">
                            <svg cIcon name="cif-tl" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Togo'">
                            <svg cIcon name="cif-tg" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Tonga'">
                            <svg cIcon name="cif-to" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Trinidad and Tobago'">
                            <svg cIcon name="cif-tt" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Tunis'">
                          <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1em" viewBox="0 0 301 201">
                            <g fill="none">
                              <path fill="#e70013" d="M.5.5h300v200H.5z" />
                              <circle cx="150.5" cy="100.5" r="50" fill="#fff" />
                              <circle cx="150.5" cy="100.5" r="37.5" fill="#e70013" />
                              <circle cx="160.5" cy="100.5" r="30" fill="#fff" />
                              <path fill="#e70013" d="m138 100.5l40.703-13.225l-25.156 34.624V79.102l25.156 34.624z" />
                            </g>
                          </svg>                        </ng-container>
                        <ng-container *ngIf="user.country === 'Turkey'">
                            <svg cIcon name="cif-tr" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Turkmenistan'">
                            <svg cIcon name="cif-tm" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Tuvalu'">
                            <svg cIcon name="cif-tv" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Uganda'">
                            <svg cIcon name="cif-ug" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Ukraine'">
                            <svg cIcon name="cif-ua" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'United Arab Emirates'">
                            <svg cIcon name="cif-ae" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'United Kingdom'">
                            <svg cIcon name="cif-gb" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'USA'">
                            <svg cIcon name="cif-us" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Uruguay'">
                            <svg cIcon name="cif-uy" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Uzbekistan'">
                            <svg cIcon name="cif-uz" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Vanuatu'">
                            <svg cIcon name="cif-vu" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Venezuela'">
                            <svg cIcon name="cif-ve" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Vietnam'">
                            <svg cIcon name="cif-vn" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Yemen'">
                            <svg cIcon name="cif-ye" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Zambia'">
                            <svg cIcon name="cif-zm" width="1.5em" height="1em"></svg>
                        </ng-container>
                        <ng-container *ngIf="user.country === 'Zimbabwe'">
                            <svg cIcon name="cif-zw" width="1.5em" height="1em"></svg>
                        </ng-container>
                      </td>
                    
                    
                    
                           
                    

                       <td>
                        <div class="d-flex justify-content-between">
                          <div class="float-start">
                            <strong>{{ user.usage }}%</strong>
                          </div>
                          <div class="float-end ms-1 text-nowrap">
                            <small class="text-medium-emphasis">
                              {{ user.period }}
                            </small>
                          </div>
                        </div>
                        <c-progress class="custom-progress">
                          <c-progress-bar [value]="user.usage" [ngClass]="getProgressBarColor(user.usage)" class="custom-progress-bar"></c-progress-bar>
                        </c-progress>
        
                      </td>
        



                       <td>
                        <div class="small text-medium-emphasis">Last login</div>
                        <div class="fw-semibold text-nowrap">{{ user.activity }}</div>
                      </td>
                   </tr>
                   
                </tbody>
            </table>
        </section>
        <ng-template #loadingDailyPass>
           <p>Loading dailypass...</p>
       </ng-template>
    </main> 
    
    <main class="table">
         <c-card>
            <c-card-header>Clients</c-card-header>
            <c-card-body>
              <c-row>
                <c-col>
                    <div style="display: flex;">
                        <div style="width: 48%;">
                            <div class="border-start border-start-info">
                                <div style="margin-left: 10px;">New Clients</div>
                                <div style="margin-left: 10px;">{{ newUsersCount }}</div>
                            </div>
                        </div>
                        <div style="width: 48%;">
                            <div class="border-start ">
                                <div style="margin-left: 10px;">Recurring Clients</div>
                                <div style="margin-left: 10px;">{{ RecurringUserCount }}</div>
                            </div>
                        </div>
                    </div>
                    
      
                  <hr/>
      
                  <div *ngIf="dailyStatistics.length > 0">
                    <div class="progress-group mb-4" *ngFor="let stat of dailyStatistics">
                      <div class="progress-group-prepend">
                        <span class="text-medium-emphasis small">{{ stat.date }}</span>
                      </div>
                      <div class="progress-group-bars">
                        <c-progress class="custom-progress">
                          <c-progress-bar color="info" [value]="stat.newUsersPercentage"  class="custom-progress-bar"></c-progress-bar>
                        </c-progress>
                       
                        <c-progress class="custom-progress">
                          <c-progress-bar color="danger" [value]="stat.totalCountPercentage"  class="custom-progress-bar"></c-progress-bar>
                        </c-progress>
                      </div>
                    </div>
                  </div>
      
                  <hr/>
      
                  <div class="progress-group mb-4">
                    <div class="progress-group-header">
                      <img src="../../../../assets/male-women/business-man.png" width="25" heigth="25">
                      <span>Male</span>
                      <span class="ms-auto font-semibold">{{ malePercentage.toFixed() }}%</span>
                    </div>
                    <div>
                      <c-progress class="custom-progress">
                        <c-progress-bar color="warning" [value]="malePercentage"  class="custom-progress-bar"></c-progress-bar>
                      </c-progress>
                    </div>
                  </div>
                  <div class="progress-group mb-5">
                    <div class="progress-group-header">
                        <img src="../../../../assets/male-women/businesswoman.png" width="25" heigth="25" >
                        <span>Female</span>
                      <span class="ms-auto font-semibold">{{ femalePercentage.toFixed() }}%</span>
                    </div>
                    <div>
                      <c-progress class="custom-progress">
                        <c-progress-bar color="warning" [value]="femalePercentage"  class="custom-progress-bar"></c-progress-bar>
                      </c-progress>
                    </div>
                  </div>
      
                </c-col>
              </c-row>
            </c-card-body>
          </c-card>
        </main>
 

   
    
    
</body>

</html>