<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Dashboard Admin</title>
  <link rel="stylesheet" type="text/css" href="dashboard.component.css" />
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

  <main class="table" id="customers_table">
    <section class="table__header">
      <h1>Manipulation Patient</h1>
      
      <div class="input-group">
        <input type="search" placeholder="Search Data..." [(ngModel)]="searchEmail" (keyup)="searchByEmail()" />
        <img src="../../../../assets/img/avatar/search.png" alt="" />
      </div>
      <div class="export__file">
        <label for="export-file" class="export__file-btn" title="Export File"></label>
        <input type="checkbox" id="export-file">
        <div class="export__file-options">
            <label>Export As &nbsp; &#10140;</label>
            <label for="export-file" id="toPDF" >PDF <img src="../../../../assets/img/avatar/pdf.png" alt=""></label>
            <!-- <label for="export-file" id="toJSON">JSON <img src="../../../../assets/img/avatar/json.png" alt=""></label>
            <label for="export-file" id="toCSV">CSV <img src="../../../../assets/img/avatar/csv.png" alt=""></label>
            <label for="export-file" id="toEXCEL">EXCEL <img src="../../../../assets/img/avatar/excel.png" alt=""></label> -->
        </div>
    </div>
    </section>
    <section
      class="table__body"
      *ngIf="patients && patients.length > 0; else loadingPatients"
    >
      <table>
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>country</th>          
            <th>Phone</th>
            <th>gender</th>
            <th>Delete</th>
            <th>Update</th>


        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let patient of patients; let i = index">
            <td>{{ patient.firstname }}</td>
            <td>{{ patient.lastname }}</td>
            <td>{{ patient.email }}</td>
            <td>{{ patient.country }}</td>
            <td>{{ patient.phone }}</td>
            <td>{{ patient.gender }}</td>
            <td>
              <button
                (click)="deletepatient(patient._id)"
                class="btn delete">
                Supprimer
              </button>
            </td>
            <td>
              <a [href]="'/#/dashboard/update/' + patient?._id ">
                <button class="btn update">Update</button>
            </a>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
    <ng-template #loadingPatients>
      <p>Loading ...</p>
    </ng-template>
  </main>

  <main class="table" id="dailypass_table">
    <section class="table__header">
      <h1>Association Daily Passes</h1>
      <div class="export__file">
        <label for="export-file" class="export__file-btn" title="Export File"></label>
        <input type="checkbox" id="export-file">
        <div class="export__file-options">
            <label>Export As &nbsp; &#10140;</label>
            <label for="export-file" id="toPDF" >PDF <img src="../../../../assets/img/avatar/pdf.png" alt=""></label>
            <!-- <label for="export-file" id="toJSON">JSON <img src="../../../../assets/img/avatar/json.png" alt=""></label>
            <label for="export-file" id="toCSV">CSV <img src="../../../../assets/img/avatar/csv.png" alt=""></label>
            <label for="export-file" id="toEXCEL">EXCEL <img src="../../../../assets/img/avatar/excel.png" alt=""></label> -->
        </div>
    </div>
    </section>
    <section class="table__body" *ngIf="associationDailyPasses && associationDailyPasses.length > 0; else noassociationDailyPasses">
      <table>
        <thead>
          <tr>
            <th>Email</th>
            <th>Pass</th>
            <th>Update</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dailyPass of associationDailyPasses">
            <td>{{ dailyPass.patient_id.email }}</td>
            <td>{{ dailyPass.pass }}</td>
            <td>
              <form (submit)="updatePatientPass(dailyPass.patient_id._id, newPass)">
                <div class="input-container">
                  <input type="number" [(ngModel)]="newPass" min="0" max="3" name="newPass" required>
                <button type="submit" class="btn update">Update Pass</button>
                </div>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
    <ng-template #noassociationDailyPasses>
      <p>No association daily passes found.</p>
    </ng-template>
  </main>

  
  <main class="table" id="repa_table">
    <section class="table__header">
      <h1>Details des repas</h1>

      <div class="input-group">
        <input type="search" placeholder="Search Data..." [(ngModel)]="searchEmail" (keyup)="searchByEmail()" />
        <img src="../../../../assets/img/avatar/search.png" alt="" />
      </div>
      <div class="export__file">
        <label for="export-file" class="export__file-btn" title="Export File"></label>
        <input type="checkbox" id="export-file">
        <div class="export__file-options">
            <label>Export As &nbsp; &#10140;</label>
            <label for="export-file" id="toPDF" >PDF <img src="../../../../assets/img/avatar/pdf.png" alt=""></label>
            <!-- <label for="export-file" id="toJSON">JSON <img src="../../../../assets/img/avatar/json.png" alt=""></label>
            <label for="export-file" id="toCSV">CSV <img src="../../../../assets/img/avatar/csv.png" alt=""></label>
            <label for="export-file" id="toEXCEL">EXCEL <img src="../../../../assets/img/avatar/excel.png" alt=""></label> -->
        </div>
    </div>
    </section>
    <section class="table__body" *ngIf="associationRepaDetails && associationRepaDetails.length > 0; else noassociationRepaDetails">
      <table>
        <thead>
          <tr>
            <th>Patient</th>
            <th>Mois</th>
            <th>Repas Reçus (Mois)</th>
            <th>Total Repas Reçus</th>
            <th>Total Patients</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let detail of associationRepaDetails">
            <tr>
              <td>{{ detail.email }}</td>
              <td>
                <div *ngFor="let repa of detail.monthlyRepas">
                  {{ repa.month }}
                </div>
              </td>
              <td>
                <div *ngFor="let repa of detail.monthlyRepas">
                  {{ repa.totalRepaRecu }}
                </div>
              </td>
              <td>{{ detail.totalRepaRecu }}</td>
              <td>{{ totalPatients }}
            </tr>
          </ng-container>
        </tbody>
      </table>
    </section>
    <ng-template #noassociationRepaDetails>
      <p>No association daily passes found.</p>
    </ng-template>
</main>

  
  
</body>
</html>
