<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Repa List</title>
    <link rel="stylesheet" type="text/css" href="get-all-repas.component.css">
</head>
<body>
    <main class="table" id="customers_table">
        <section class="table__header">
            <h1>Repa List </h1>
            <a [href]="'/#/repas/add' ">
                <button class="btn add">Add Repa</button>
             </a>
            <div class="input-group">
                <input type="search" placeholder="Search Data...">
                <img src="../../../../assets/img/avatar/search.png" alt="">
           </div>
            <div class="export__file">
                <label for="export-file" class="export__file-btn" title="Export File"></label>
                <input type="checkbox" id="export-file">
                <div class="export__file-options">
                    <label>Export As &nbsp; &#10140;</label>
                    <label for="export-file" id="toPDF">PDF <img src="images/pdf.png" alt=""></label>
                    <label for="export-file" id="toJSON">JSON <img src="images/json.png" alt=""></label>
                    <label for="export-file" id="toCSV">CSV <img src="images/csv.png" alt=""></label>
                    <label for="export-file" id="toEXCEL">EXCEL <img src="images/excel.png" alt=""></label>
                </div>
            </div>
        </section>
        <section class="table__body" *ngIf="repas && repas.length > 0; else loadingRepas">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th (click)="sortTable()">Image<span class="icon-arrow" [ngClass]="{'rotate': ascendingOrder}">&UpArrow;</span></th>
                        <th (click)="sortTable()">Nom<span class="icon-arrow" [ngClass]="{'rotate': ascendingOrder}">&UpArrow;</span></th>
                        <th (click)="sortTable()">description<span class="icon-arrow" [ngClass]="{'rotate': ascendingOrder}">&UpArrow;</span></th>
                        <th (click)="sortTable()">Price <span class="icon-arrow" [ngClass]="{'rotate': ascendingOrder}">&UpArrow;</span></th>
                        <th (click)="sortTable()">Calories<span class="icon-arrow" [ngClass]="{'rotate': ascendingOrder}">&UpArrow;</span></th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                   <tr *ngFor="let repa of repas; let i = index">
                       <td>{{ i + 1 }}</td>
                       <td><img src="http://127.0.0.1:3001/uploads/{{ repa.profileImage }}" alt="Profile Image" width="30" height="30">
                       </td>
                       <td>{{ repa.nomRepa }} </td>
                       <td>{{ repa.description }}</td>
                       <td> {{ repa.price }}$</td>
                       <td>{{repa.calories}}</td>
                       <td>
                            
                        <button (click)="deleteRepas(repa._id)" class="btn delete">Delete</button>
                
                        <a [href]="'/#/repas/update/' + repa?._id ">
                            <button class="btn update">Update</button>
                        </a>
                    </td>
                   </tr>
                   
                </tbody>
            </table>
        </section>
        <ng-template #loadingRepas>
           <p>Loading dailypass...</p>
       </ng-template>
    </main> 
</body>

</html>
