<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- ------------CSS-------- -->
  <link rel="stylesheet" href="dash.component.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <!-- <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>  -->
  <title>Dashboard</title>
</head>
<body>
 <nav class="sidebar close">
   <header>
    <div class="image-text">
      <span class="image">
         <img src="https://th.bing.com/th/id/R.5d4b497cab4082068e529db67c184e39?rik=Pjr1ceSoFq1UiA&riu=http%3a%2f%2fwww.freeiconspng.com%2fuploads%2fhands-children-child-care-png-2.png&ehk=61dyG7jQYAy29PgZsJG3yJilf8zO1nHqRkCEmBRJZGE%3d&risl=&pid=ImgRaw&r=0" alt="logo">
      </span>

      <div class="text header-text">
        <span class="name">CareLoveAssist</span>
        <span class="profession">Dashboard</span>
      </div>
    </div>
    <i class="fa-solid fa-chevron-right toggle"></i>

    <div class="user">
      <img [src]="user?.profileImage ? 'http://127.0.0.1:3001/uploads/' + user.profileImage : ''"  class="user-img">
      <span class="text nav-text">{{user.firstname}} {{user.lastname}}</span>
    </div>
   </header>
   <div class="menu-bar">
    <div class="menu">

      <li class="search-box">
        <i class="fa-solid fa-magnifying-glass icon"></i>
        <input type="text" placeholder="Search...">
      </li>

      <ul class="menu-links">
        <li class="nav-links" *ngFor="let data of navData">
          <a [routerLink]="data.url" routerLinkActive="active">
            <i [class]="data.icon"></i>
            <span class="text nav-text">{{ data.label }}</span>
          </a>
        </li>

        <!-- <li class="nav-links">
          
          <a href="#">
            <i class="fa-solid fa-house icon"></i>
            <span class="text nav-text">Dashboard</span>
          </a>
        </li> -->

        <!-- <li class="nav-links">
          <a href="#">
            <i class="fa-solid fa-chart-column icon"></i>
            <span class="text nav-text">Revenue</span>
          </a>
        </li> -->

        <!-- <li class="nav-links">
          <a href="#">
            <i class="fa-regular fa-bell icon"></i>
            <span class="text nav-text">Notification</span>
          </a>
        </li> -->

        <!-- <li class="nav-links">
          <a href="#">
            <i class="fa-solid fa-chart-pie icon"></i>
            <span class="text nav-text">Analytics</span>
          </a>
        </li>

        <li class="nav-links">
          <a href="#">
            <i class="fa-regular fa-heart icon"></i>
            <span class="text nav-text">Likes</span>
          </a>
        </li> -->

        <!-- <li class="nav-links">
          <a href="#">
            <i class="fa-solid fa-wallet icon"></i>
            <span class="text nav-text">Wallets</span>
          </a>
        </li> -->
      </ul>
    </div>
    <div class="button-content">
      <li class="">
        <a (click)="logoutUser()">
          <i class="fa-solid fa-door-open icon"></i>
          <span class="text nav-text">Logout</span>
        </a>
      </li>

      <li class="mode">
        <div class="moon-sun">
          <i class="fa-regular fa-moon icon moon"></i>
          <i class="fa-regular fa-sun icon sun"></i>
        </div>
        <span class="mode-text text">Dark Mode</span>
        <div class="toggle-switch">
          <span class="switch"></span>
        </div>
      </li>
    </div>
   </div>
 </nav>
  <section class="home">
    <div class="text">Dashboard</div>
   <router-outlet />
  </section>
</body>
</html>









<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    --======== CSS ========
    <link rel="stylesheet" href="dash.component.css">
     
    --===== Iconscout CSS =====
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <title>Admin Dashboard Panel</title>
</head>
<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
              <img src="https://th.bing.com/th/id/R.5d4b497cab4082068e529db67c184e39?rik=Pjr1ceSoFq1UiA&riu=http%3a%2f%2fwww.freeiconspng.com%2fuploads%2fhands-children-child-care-png-2.png&ehk=61dyG7jQYAy29PgZsJG3yJilf8zO1nHqRkCEmBRJZGE%3d&risl=&pid=ImgRaw&r=0"
              class="logo">
                        </div>

            <span class="logo_name">CareLoveAssist</span>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
              <li *ngFor="let data of navData">
                <a [routerLink]="data.url" routerLinkActive="active">
                  <i [class]="data.icon"></i>
                  <span class="link-name">{{ data.label }}</span>
                </a>
              </li>



                 <li><a routerLink="#">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Dahsboard</span>
                </a></li> 
                <li><a href="#">
                    <i class="uil uil-files-landscapes"></i>
                    <span class="link-name">Content</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-chart"></i>
                    <span class="link-name">Analytics</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-thumbs-up"></i>
                    <span class="link-name">Like</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-comments"></i>
                    <span class="link-name">Comment</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-share"></i>
                    <span class="link-name">Share</span>
                </a></li> 

            </ul>
            
            <ul class="logout-mode">
                <li><a (click)="logoutUser()">
                    <i class="uil uil-signout"></i>
                    <span class="link-name">Logout</span>
                </a></li>

                <li class="mode">
                    <a href="#">
                        <i class="uil uil-moon"></i>
                    <span class="link-name">Dark Mode</span>
                </a>

                <div class="mode-toggle">
                  <span class="switch"></span>
                </div>
            </li>
            </ul>
        </div>
    </nav>

    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>

            <div class="search-box">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Search here...">
            </div>
            <img [src]="user?.profileImage ? 'http://127.0.0.1:3001/uploads/' + user.profileImage : ''"  class="user-img">
        </div>
         <router-outlet />

         <div class="dash-content">
            <div class="overview">
                 <div class="title">
                    <i class="uil uil-tachometer-fast-alt"></i>
                    <span class="text">Dashboard</span>
                </div> 

               <div class="boxes">
                    <div class="box box1">
                        <i class="uil uil-thumbs-up"></i>
                        <span class="text">Total Likes</span>
                        <span class="number">50,120</span>
                    </div>
                    <div class="box box2">
                        <i class="uil uil-comments"></i>
                        <span class="text">Comments</span>
                        <span class="number">20,120</span>
                    </div>
                    <div class="box box3">
                        <i class="uil uil-share"></i>
                        <span class="text">Total Share</span>
                        <span class="number">10,120</span>
                    </div>
                </div>
            </div>

            <div class="activity">
                <div class="title">
                    <i class="uil uil-clock-three"></i>
                    <span class="text">Recent Activity</span>
                </div>

                <div class="activity-data">
                    <div class="data names">
                        <span class="data-title">Name</span>
                        <span class="data-list">Prem Shahi</span>
                        <span class="data-list">Deepa Chand</span>
                        <span class="data-list">Manisha Chand</span>
                        <span class="data-list">Pratima Shahi</span>
                        <span class="data-list">Man Shahi</span>
                        <span class="data-list">Ganesh Chand</span>
                        <span class="data-list">Bikash Chand</span>
                    </div>
                    <div class="data email">
                        <span class="data-title">Email</span>
                        <span class="data-list">premshahi.com</span>
                        <span class="data-list">deepachand.com</span>
                        <span class="data-list">prakashhai.com</span>
                        <span class="data-list">manishachand.com</span>
                        <span class="data-list">pratimashhai.com</span>
                        <span class="data-list">manshahi.com</span>
                        <span class="data-list">ganeshchand.com</span>
                    </div>
                    <div class="data joined">
                        <span class="data-title">Joined</span>
                        <span class="data-list">2022-02-12</span>
                        <span class="data-list">2022-02-12</span>
                        <span class="data-list">2022-02-13</span>
                        <span class="data-list">2022-02-13</span>
                        <span class="data-list">2022-02-14</span>
                        <span class="data-list">2022-02-14</span>
                        <span class="data-list">2022-02-15</span>
                    </div>
                    <div class="data type">
                        <span class="data-title">Type</span>
                        <span class="data-list">New</span>
                        <span class="data-list">Member</span>
                        <span class="data-list">Member</span>
                        <span class="data-list">New</span>
                        <span class="data-list">Member</span>
                        <span class="data-list">New</span>
                        <span class="data-list">Member</span>
                    </div>
                    <div class="data status">
                        <span class="data-title">Status</span>
                        <span class="data-list">Liked</span>
                        <span class="data-list">Liked</span>
                        <span class="data-list">Liked</span>
                        <span class="data-list">Liked</span>
                        <span class="data-list">Liked</span>
                        <span class="data-list">Liked</span>
                        <span class="data-list">Liked</span>
                    </div>
                </div> 
            </div>
        </div>
    </section>
</body>
</html> -->




















