<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- ------------CSS-------- -->
  <link rel="stylesheet" href="dash.component.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <!-- <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>  -->
  <title>Dashboard</title>
</head>
<body>
 <nav class="sidebar close">
   <header>
    <div class="image-text">
      <span class="image">
         <img src="https://th.bing.com/th/id/R.5d4b497cab4082068e529db67c184e39?rik=Pjr1ceSoFq1UiA&riu=http%3a%2f%2fwww.freeiconspng.com%2fuploads%2fhands-children-child-care-png-2.png&ehk=61dyG7jQYAy29PgZsJG3yJilf8zO1nHqRkCEmBRJZGE%3d&risl=&pid=ImgRaw&r=0">
      </span>

      <div class="text header-text">
        <span class="name">CareLoveAssist</span>
        <span class="profession">Dashboard</span>
      </div>
    </div>
    <i class="fa-solid fa-chevron-right toggle"></i>

    <div class="user">
      <img [src]="user?.profileImage ? 'http://127.0.0.1:3001/uploads/' + user.profileImage : ''"  class="user-img">
      <span class="text nav-text">{{user.firstname}} {{user.lastname}}</span>
    </div>
   </header>
   <div class="menu-bar">
    <div class="menu">

      <li class="search-box">
        <i class="fa-solid fa-magnifying-glass icon"></i>
        <input type="text" placeholder="Search...">
      </li>

      <ul class="menu-links">
        <li class="nav-links" *ngFor="let data of navData">
          <a [routerLink]="data.url" routerLinkActive="active">
            <i [class]="data.icon"></i>
            <span class="text nav-text">{{ data.label }}</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="button-content">
      <li class="">
        <a (click)="logoutUser()">
          <i class="fa-solid fa-door-open icon"></i>
          <span class="text nav-text">Logout</span>
        </a>
      </li>

      <li class="mode">
        <div class="moon-sun">
          <i class="fa-regular fa-moon icon moon"></i>
          <i class="fa-regular fa-sun icon sun"></i>
        </div>
        <span class="mode-text text">Dark Mode</span>
        <div class="toggle-switch">
          <span class="switch"></span>
        </div>
      </li>
    </div>
   </div>
 </nav>
  <section class="home">
    <div class="text">{{pageTitle}}</div>
    
   <router-outlet />
  </section>
</body>
</html>





















