 <!DOCTYPE html>
 <html lang="en">
 
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>DailyPass</title>
     <link rel="stylesheet" type="text/css" href="get-all-dailypass.component.css">
 </head>
 
 <body>
     <main class="table" id="customers_table">
         <section class="table__header">
             <h1>FoodLogics </h1>
             <div class="input-group">
                 <input type="search" placeholder="Search Data...">
                 <img src="../../../../assets/img/avatar/search.png" alt="">
            </div>
             <div class="export__file">
                 <label for="export-file" class="export__file-btn" title="Export File"></label>
                 <input type="checkbox" id="export-file">
                 <div class="export__file-options">
                     <label>Export As &nbsp; &#10140;</label>
                     <label for="export-file" id="toPDF">PDF <img src="images/pdf.png" alt=""></label>
                     <label for="export-file" id="toJSON">JSON <img src="images/json.png" alt=""></label>
                     <label for="export-file" id="toCSV">CSV <img src="images/csv.png" alt=""></label>
                     <label for="export-file" id="toEXCEL">EXCEL <img src="images/excel.png" alt=""></label>
                 </div>
             </div>
         </section>
         <section class="table__body" *ngIf=" dailypass && dailypass.length > 0; else loadingDailyPass">
             <table>
                 <thead>
                     <tr>
                        <th>ID</th>
                         <th>Meal Date<span class="icon-arrow">&UpArrow;</span></th>
                         <th>Dish Image<span class="icon-arrow">&UpArrow;</span></th>
                         <th (click)="sortTable()">Dish Name <span class="icon-arrow">&UpArrow;</span></th>
                         <th>Beneficiary<span class="icon-arrow">&UpArrow;</span></th>
                         <th (click)="sortTable()">B Name <span class="icon-arrow">&UpArrow;</span></th>
                         <th>Action <span class="icon-arrow">&UpArrow;</span></th>
                     </tr>
                 </thead>
                 <tbody>
                    <tr *ngFor="let dp of dailypass; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ dp.date | date: 'mediumDate' }}</td>
                        <td><img src="http://127.0.0.1:3001/uploads/{{ dp.repaId?.profileImage }}" alt="Profile Image" width="30" height="30"></td>

                        <!-- <td>{{ dp.userId?._id }}</td> -->
                        <td>{{ dp.repaId?.nomRepa }}</td>
                        <td><img src="http://127.0.0.1:3001/uploads/{{ dp.userId?.profileImage }}" alt="Profile Image" width="30" height="30"></td>
                        <td>{{ dp.userId?.firstname}}</td>
                        <td>
                            
                            <button  (click)="deleteDailyPass(dp._id)" class="btn btn-sm">Delete</button>
                            
                        </td>
                    </tr>
                    
                 </tbody>
             </table>
         </section>
         <ng-template #loadingDailyPass>
            <p>Loading dailypass...</p>
        </ng-template>
     </main> 
 </body>
 
 </html>

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DailyPass List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">    <style>
        /* Ajoutez un style personnalisé ici si nécessaire */
        body {
            background-color: #f8f9fa; /* Couleur de fond légère */
        }

        h2 {
            color: #007bff; /* Couleur bleue Bootstrap */
            margin-bottom: 20px; /* Marge inférieure pour l'espace */
        }
    </style>
</head>
<body>
    <div class="container mt-4">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>DailyPass List</h2>      
    </div>
        <div *ngIf="dailypass && dailypass.length > 0; else loadingDailyPass">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>RepaImage</th>
                        <th> Repa </th>
                        <th>UserImage</th>
                        <th> User </th>
                        <th>User Firstname</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let dp of dailypass">
                        <td>{{ dp.date | date: 'mediumDate' }}</td>
                        <td><img src="http://127.0.0.1:3001/uploads/{{ dp.repaId?.profileImage }}" alt="Profile Image" width="30" height="30"></td>

                        <td>{{ dp.userId?._id }}</td>
                        <td>{{ dp.repaId?.nomRepa }}</td>
                        <td><img src="http://127.0.0.1:3001/uploads/{{ dp.userId?.profileImage }}" alt="Profile Image" width="30" height="30"></td>
                        <td>{{ dp.userId?.firstname }}</td>
                        <td>
                            
                            <button  (click)="deleteDailyPass(dp._id)" class="btn btn-danger btn-sm">Delete</button>
                            
                        </td>
                    </tr>
                </tbody>
            </table>
            
        </div>
        
        <ng-template #loadingDailyPass>
            <p>Loading dailypass...</p>
        </ng-template>
    </div>
</body>
</html> -->