<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Dashboard Admin</title>
  <link rel="stylesheet" type="text/css" href="resultat.component.css" />
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>


<body>





  <main class="table" id="dailypass_table">
    <section class="table__header">
      <h1>Result</h1>
    </section>
    <section class="table__body" >
      
    
    </section>
    
  </main>





</body>
</html>