.back {
    background-image: linear-gradient(rgba(0,0,50,0.8), rgba(0,0,50,0.8)), url(back/pexels-fauxels-3184432.jpg);
    width: 100%;
    min-height: 100vh; 
    background-position: center;
    background-size: cover;
    position: relative;
  
    display: flex; 
    align-items: center; 
    justify-content: center;
  }
  
  .card-width {
    max-width: 300px; 
  }
  


