<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="register.component.css">
</head>
<body>
  <input type="checkbox" id="one">
  <input type="checkbox" id="two">
  <input type="checkbox" id="three">
<div class="container" #container>
  <h1>Sign Up</h1>
  <div class="indicator">
      <div class="step step1">
          <div>1</div>
          <span>Basic</span>
      </div>
      <div class="line line1"></div>
      <div class="step step2">
          <div>2</div>
          <span>Contact</span>
      </div>
      <div class="line line2"></div>
      <div class="step step3">
          <div>3</div>
          <span>Personal</span>
      </div>
      <div class="line line3"></div>
      <div class="step step4">
          <div>4</div>
          <span>Login</span>
      </div>

  </div>

  <div class="panel">
      <div class="page1">
        <form #form1="ngForm" (ngSubmit)="next(form1)" class="form">
          <h2>Basic Information</h2>
              <div class="form-group">
                  <input [(ngModel)]="firstname" name="firstname" type="text" required>
                  <label>First Name</label>

              </div>
              <div class="form-group">
                  <input [(ngModel)]="lastname" name="lastname" type="text" required>
                  <label>Last Name</label>

              </div>
              <select [(ngModel)]="disabilityType" name="disabilityType" class="form-group" required>
                <option value="" label="Please select disabilityType"></option>
                <option value="physical">Physical</option>
                <option value="visual">Visual</option>
                <option value="hearing">Hearing</option>
                <option value="cognitive">Cognitive</option>
              </select>
              <div *ngIf="errorbool" class="text-danger">{{errMessage}}</div>
              <div class="btn-group">
                <label for="one" class="btn btn-f" [class.disabled]="!form1.valid" (click)="next(form1)">Next</label>
              </div>
          </form>
      </div>

      <div class="page2">
          <form #form2="ngForm" (ngSubmit)="next(form2)" class="form">
              <h2>Contact Information</h2>
              <div class="form-group">
                  <input [(ngModel)]="email" name="email" type="text" required>
                  <label>Email Address</label>
              </div>
              <div class="form-group">
                  <input [(ngModel)]="phone" name="phone" type="text" required>
                  <label>Phone Number</label>
              </div>
              <div *ngIf="errorbool" class="text-danger">{{errMessage}}</div>

              <div class="btn-group">
                  <label for="one" class="btn">Previous</label>
                  <label for="two" class="btn" [class.disabled]="!form2.valid || email.trim() === '' || phone.trim() === ''">Next</label>
              </div>
          </form>
      </div>

      <div class="page3">
          <form #form3="ngForm" (ngSubmit)="next(form3)" class="form">
              <h2>Personal Information</h2>
              
                <select [(ngModel)]="country" name="country" class="form-group" required>
  <option value="">Sélectionnez votre ville</option>
  <option value="Ariana">Ariana</option>
  <option value="Beja">Béja</option>
  <option value="Ben Arous">Ben Arous</option>
  <option value="Bizerte">Bizerte</option>
  <option value="Gabes">Gabès</option>
  <option value="Gafsa">Gafsa</option>
  <option value="Jendouba">Jendouba</option>
  <option value="Kairouan">Kairouan</option>
  <option value="Kasserine">Kasserine</option>
  <option value="Kebili">Kébili</option>
  <option value="Kef">Le Kef</option>
  <option value="Mahdia">Mahdia</option>
  <option value="Manouba">La Manouba</option>
  <option value="Medenine">Médenine</option>
  <option value="Monastir">Monastir</option>
  <option value="Nabeul">Nabeul</option>
  <option value="Sfax">Sfax</option>
  <option value="Sidi Bouzid">Sidi Bouzid</option>
  <option value="Siliana">Siliana</option>
  <option value="Sousse">Sousse</option>
  <option value="Tataouine">Tataouine</option>
  <option value="Tozeur">Tozeur</option>
  <option value="Tunis">Tunis</option>
  <option value="Zaghouan">Zaghouan</option>
</select>

              
              <div class="form-group">
                  <input [(ngModel)]="address" name="address" type="text" required>
                  <label>address</label>
              </div>
              
                <select [(ngModel)]="gender" name="gender" class="form-group" required>
                  <option value="" disabled selected>Select your gender</option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>
                <div *ngIf="errorbool" class="text-danger">{{errMessage}}</div>

              <div class="btn-group">
                  <label for="two" class="btn">Previous</label>
                  <label for="three" class="btn" [class.disabled]="!form3.valid || country.trim() === '' || address.trim() === ''|| gender.trim() === ''">Next</label>
              </div>
          </form>
      </div>

      <div class="page4">
          <form #form4="ngForm" (ngSubmit)="next(form4)" class="form">
              <h2>Login Details</h2>
              <div class="form-group">
                <input [(ngModel)]="password" name="password" type="password" required>
                <label>Password</label>
            </div>
              <div class="form-group">
                  <input [(ngModel)]="repeatpassword" name="repeatpassword" type="password" required>
                  <label>repeatpassword</label>
              </div>
              <div *ngIf="errorbool" class="text-danger">{{errMessage}}</div>

              <div class="btn-group">
                  <label for="three" class="btn">Previous</label>
                  <button type="submit" class="btn" (click)="register()" [class.disabled]="!form4.valid || password.trim() === '' || repeatpassword.trim() === ''">Submit</button>
              </div>
          </form>
      </div>

      
  </div>
</div>      
</body>
</html>
