<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users List</title>
    <link rel="stylesheet" type="text/css" href="user.component.css">
</head>
<body>
    <main class="table" id="customers_table">
        <section class="table__header">
            <h1>User List</h1>
            <div class="input-group">
                <input type="search" placeholder="Search Data...">
                <img src="../../../../assets/img/avatar/search.png" alt="">
           </div>
            <div class="export__file">
                <label for="export-file" class="export__file-btn" title="Export File"></label>
                <input type="checkbox" id="export-file">
                <div class="export__file-options">
                    <label>Export As &nbsp; &#10140;</label>
                    <label for="export-file" id="toPDF">PDF <img src="images/pdf.png" alt=""></label>
                    <label for="export-file" id="toJSON">JSON <img src="images/json.png" alt=""></label>
                    <label for="export-file" id="toCSV">CSV <img src="images/csv.png" alt=""></label>
                    <label for="export-file" id="toEXCEL">EXCEL <img src="images/excel.png" alt=""></label>
                </div>
            </div>
        </section>
        <section class="table__body" *ngIf="users && users.length > 0; else loadingUsers">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th (click)="sortTable()">Image<span class="icon-arrow" [ngClass]="{'rotate': ascendingOrder}">&UpArrow;</span></th>
                        <th (click)="sortTable()">Name<span class="icon-arrow" [ngClass]="{'rotate': ascendingOrder}">&UpArrow;</span></th>
                        <th (click)="sortTable()">Email<span class="icon-arrow" [ngClass]="{'rotate': ascendingOrder}">&UpArrow;</span></th>
                        <th (click)="sortTable()">Role <span class="icon-arrow" [ngClass]="{'rotate': ascendingOrder}">&UpArrow;</span></th>
                        <th (click)="sortTable()">Phone<span class="icon-arrow" [ngClass]="{'rotate': ascendingOrder}">&UpArrow;</span></th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                   <tr *ngFor="let user of users; let i = index">
                       <td>{{ i + 1 }}</td>
                       <td><img src="http://127.0.0.1:3001/uploads/{{ this.user.profileImage }}" alt="Profile Image" width="30" height="30"></td>
                       <td>{{ user.firstname }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{user.role}}</td>
                        <td>{{ user.phone}}</td>
                       <td>
                            
                        <button (click)="deleteUser(user._id)" class="btn delete">Delete</button>
                
                        <a [href]="'/#/users/update/' + user?._id ">
                            <button class="btn update">Update</button>
                        </a>
                    </td>
                   </tr>
                   
                </tbody>
            </table>
        </section>
        <ng-template #loadingUsers>
           <p>Loading dailypass...</p>
       </ng-template>
    </main> 
</body>

</html>
